.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-text{
    text-align: center;
}
.info{
  text-align: center;
}
.imagen-avion{
  width:50%;  
}
.mapa {
  width: 80%;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  font-size: 16px;
  font-size: 2vh;
  font-size: 0.75vw;

  .text-der {
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    top: 71.76%;
    left: 10%;
    p {
      font-size: 16px;
      font-size: 2vh;
      font-size: 0.75vw;
    }
  }

  .text-izq {
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    top: 70%;
    left: 83%;
    p {
        font-size: 16px;
        font-size: 2vh;
        font-size: 0.75vw;
      }
  }

  #mapa-img {
    max-width: 100%;
  }

  %gate {
    width: 4.49%;
    height: 10.37%;
    border: 1px solid black;
    box-sizing: border-box;
    position: absolute;
    text-align: center;
  }

  #gate-8 {
    @extend %gate;
    left: 77.13%;
    top: 31.02%;
  }

  #gate-9 {
    @extend %gate;
    left: 85%;
    top: 31.02%;
  }
  #gate-10 {
    @extend %gate;
    left: 94.77%;
    top: 24.26%;
  }
  #gate-11 {
    @extend %gate;
    left: 94.77%;
    top: 8.61%;
  }
  #gate-12 {
    @extend %gate;
    left: 85.19%;
    top: 1.3%;
  }
  #gate-13 {
    @extend %gate;
    left: 77.13%;
    top: 1.3%;
  }
  #gate-14 {
    @extend %gate;
    left: 64.86%;
    top: 2.96%;
  }
  #gate-15 {
    @extend %gate;
    left: 58.56%;
    top: 2.96%;
  }
  #gate-16 {
    @extend %gate;
    left: 49.95%;
    top: 2.96%;
  }
  #gate-17 {
    @extend %gate;
    left: 44.21%;
    top: 2.96%;
  }
  #gate-18 {
    @extend %gate;
    left: 38.24%;
    top: 2.96%;
  }
  #gate-19 {
    @extend %gate;
    left: 32.04%;
    top: 2.96%;
  }
  #gate-20 {
    @extend %gate;
    left: 20.19%;
    top: 1.02%;
  }
  #gate-21 {
    @extend %gate;
    left: 10.37%;
    top: 1.02%;
  }
  #gate-22 {
    @extend %gate;
    left: 0.32%;
    top: 9.44%;
  }
  #gate-23 {
    @extend %gate;
    left: 0.32%;
    top: 22.04%;
  }
  #gate-24 {
    @extend %gate;
    left: 6.11%;
    top: 34.63%;
  }
  #gate-25 {
    @extend %gate;
    left: 20.19%;
    top: 34.63%;
  }
  #gate-26 {
    @extend %gate;
    left: 30.93%;
    top: 34.63%;
  }
  .zonas-izq {
    top: 83%;
    left: 4%;
    position: absolute;
    width: 50%;
  }
  .zonas-der1 {
    top: 83%;
    right: 0.74%;
    position: absolute;
    width: 50%;
  }
  .zonas-der2 {
    top: 95%;
    right: 0.74%;
    position: absolute;
    width: 50%;
  }

  div[id^="zona-"] {
    width: 8.98%;
    height: 10.37%;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 12px 5px;
    text-align: center;
  }

  @for $i from 1 through 7 {
    #zona-#{$i} {
      float: right;
    }
  }

  @for $i from 34 through 39 {
    #zona-#{$i} {
      float: right;
    }
  }

  @for $i from 29 through 33 {
    #zona-#{$i} {
      float: left;
    }
  }
}
