<div class="col-sm-offset-3 col-sm-6">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="aerolineaModificarAvion" class="col-sm-4">Aerolínea: </label>
            <div class="col-sm-8">
                <ui-select ng-model="aerolineaSeleccionada.selected"
                class="btn-group bootstrap-select form-control"
                append-to-body="true"
                search-enabled="false">
                    <ui-select-match placeholder="Aerolínea">
                        <span> {{$select.selected.nombre}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="aerolinea in aerolineasSelect">
                        <span ng-bind-html="aerolinea.nombre"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label for="placaModificarAvion" class="col-sm-4">Placa: </label>
            <div class="col-sm-8">
                <input ng-init="placanuevo=avionSeleccionadoModificar.placa" ng-model="placanuevo" type="text" class="form-control" id="distanciaModificarAvion" placeholder="Placa del avión">
            </div>
        </div>
        <div class="form-group">
            <label for="maxPasajerosModificarAvion" class="col-sm-4">Máximo de Pasajeros: </label>
            <div class="col-sm-8">
                <input ng-init="maxpasajerosnuevo=avionSeleccionadoModificar.capacidadMax" ng-model="maxpasajerosnuevo" type="text" class="form-control" id="maxPasajerosModificarAvion" placeholder="Cantidad de pasajeros máxima">
            </div>
        </div>
        <div class="form-group">
            <label for="cargaMaximaModificarAvion" class="col-sm-4">Carga Máxima (ton): </label>
            <div class="col-sm-8">
                <input ng-init="cargamaxnuevo=avionSeleccionadoModificar.cargaMax" ng-model="cargamaxnuevo" type="text" class="form-control" id="cargaMaximaModificarAvion" placeholder="Carga máxima del avión">
            </div>
        </div>
        <div class="form-group">
            <label for="combustibleModificarAvion" class="col-sm-4">Combustible Máximo: </label>
            <div class="col-sm-8">
                <input ng-init="combustiblemaxnuevo=avionSeleccionadoModificar.combustibleMax" ng-model="combustiblemaxnuevo" type="text" class="form-control" id="combustibleMaximoModificarAvion" placeholder="Combustible máximo del avión">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-4 col-xs-2"><a ng-click="modificarAvion(avionSeleccionadoModificar.idAvion,placanuevo,maxpasajerosnuevo,cargamaxnuevo,combustiblemaxnuevo,aerolineaSeleccionada.selected.idAerolinea)"><button type="button" class="btn btn-default">Aceptar</button></a></div>
            <div class="col-xs-2"><a ui-sref="agaport_gestion.aviones"><button type="button" class="btn btn-default">Cancelar</button></a></div>
        </div>
    </form>
        
</div>        