<div ba-panel ba-panel-title="Estado de puertas">
    <div class="row show-grid">
        <div class="mapa">
            <img src="/../../../../assets/pictures/mapa-aeropuerto-no-text2.png" id="mapa-img"
                alt="Mapa del Jorge Chavez">
            <div ng-repeat="a in range(19) track by $index" ng-attr-id="{{ 'gate-' + ($index+8) }}"
                ng-click="detalle('gate', $index+8)" class="gate">
                Gate {{$index + 8}}
                <img class="imagen-avion" ng-src="{{urlImagen[$index+8]}}" alt="avion" />
            </div>
            <div class=text-der>
                <p>Zonas del 29-33</p>
            </div>
            <div class=text-izq>
                <p>Zonas del 1-7<br>
                    Zonas del 34-39</p>
            </div>
            <div class="zonas-izq">
                <div ng-repeat="a in range(5) track by $index" ng-attr-id="{{ 'zona-' + ($index+29) }}"
                    ng-click="detalle('zona', 29+$index)" class="zona">
                    Zona {{$index + 29}}
                    <img class="imagen-avion" ng-src="{{urlImagen[$index + 29]}}" alt="avion" />
                </div>
            </div>
            <div class="zonas-der1">
                <div ng-repeat="a in range(7) track by $index" ng-attr-id="{{ 'zona-' + (7-$index) }}"
                    ng-click="detalle('zona', 7-$index)" class="zona">
                    Zona {{7-$index}}
                    <img class="imagen-avion" ng-src="{{urlImagen[7-$index]}}" alt="avion" />
                </div>
            </div>
            <div class="zonas-der2">
                <div ng-repeat="a in range(6) track by $index" ng-attr-id="{{ 'zona-' + (39-$index) }}"
                    ng-click="detalle('zona', 39-$index)" class="zona">
                    Zona {{39-$index}}
                    <img class="imagen-avion" ng-src="{{urlImagen[39-$index]}}" alt="avion" />
                </div>
            </div>
        </div>
    </div>
    <h3 class="grid-h">Detalle de puerta</h3>

    <!-- Estado inicial -->

    <div ng-if="!puertaSeleccionada">
        <div class="row show-grid">
            <div class="col-sm-2">
                <p>Hacer clic sobre una puerta para ver detalles</p>
            </div>
        </div>
    </div>

    <!-- Si la puerta tiene asignada un avión -->

    <div ng-if="(puerta.Avion!==undefined) && puertaSeleccionada">
        <div class="row show-grid">
            <div class="col-sm-2">
                <h4>Puerta</h4>
            </div>
            <div class="col-sm-2 col-sm-offset-4">
                <h4>Avión asignado</h4>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-2">
                Tipo:
            </div>
            <div class="col-sm-2">
                {{puerta.strTipo}}
            </div>
            <div class="col-sm-2 col-sm-offset-2">
                Placa:
            </div>
            <div class="col-sm-2">
                {{puerta.Avion.placa}}
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-2">
                Número: <br>
            </div>
            <div class="col-sm-2">
                {{puerta.Puerta.idPuerta}}
            </div>
            <div class="col-sm-2 col-sm-offset-2">
                Aerolínea
            </div>
            <div class="col-sm-2">
                {{puerta.Avion.aerolinea}}
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-2">
                Estado: <br>
            </div>
            <div class="col-sm-2">
                {{puerta.strEstadoPuerta}}
            </div>
            <div class="col-sm-2 col-sm-offset-2">
                Personas en el vuelo:
            </div>
            <div class="col-sm-2">
                {{puerta.nPersonas}}
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-2">
                Distancia a Salida: <br>
            </div>
            <div class="col-sm-2">
                {{puerta.strDistancia}}
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-2">
                Flujo de personas: <br>
            </div>
            <div class="col-sm-2">
                {{puerta.strFlujo}}
            </div>
        </div>
    </div>

    <!-- Si la puerta no tiene asignada un avión -->

    <div ng-if="(puerta.Avion==undefined) && puertaSeleccionada">
        <div class="row show-grid">
            <div class="col-sm-2">
                <h4>Puerta</h4>
            </div>
            <div class="col-sm-2 col-sm-offset-4">
                <h4>Avión asignado</h4>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-2">
                Tipo:
            </div>
            <div class="col-sm-2">
                {{puerta.strTipo}}
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                No hay un avión asignado
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-2">
                Número: <br>
            </div>
            <div class="col-sm-2">
                {{puerta.Puerta.idPuerta}}
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-2">
                Estado: <br>
            </div>
            <div class="col-sm-2">
                {{puerta.strEstadoPuerta}}
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-2">
                Distancia a Salida: <br>
            </div>
            <div class="col-sm-2">
                {{puerta.strDistancia}}
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-2">
                Flujo de personas: <br>
            </div>
            <div class="col-sm-2">
                {{puerta.strFlujo}}
            </div>
        </div>
    </div>
</div>
</div>