<ui-view autoscroll="true" autoscroll-body-top>

<div ba-panel ba-panel-title="Lista de Aerolíneas" ba-panel-class="with-scroll table-panel">
	<div class="row">
		<div class="col-md-12">
			<div class="vertical-scroll">
			  <table class="table table-hover">
			    <thead>
			    <tr class="black-muted-bg">
			      <th class="table-id">#</th>
			      <th>Aerolinea</th>
			      <th>Prioridad</th>
                  <th>Máximo No. de Pasajeros</th>
			    </tr>
			    </thead>
			    <tbody>
			    <tr ng-repeat="item in datosAerolineas" ng-click="seleccionarAerolinea(item);">
			      <td class="table-id">{{$index + 1}}</td>
			      <td>{{item.Nombre}}</td>
			       var Prioridad p = new Prioridad()
			       p= item.prioridad
				  <td>{{p.getPrioridad()}}</td>
			      <td>{{item.borrado}}</td>
			    </tr>
				
				

			    </tbody>
			  </table>
			  <div ng-show="datosAerolineas.length==0">
					No hay aerolineas				
			  </div>
			</div>
		</div>
	</div>
</div>
<div>
	<div>Nombres de la aerolinea seleccionada: {{aerolineaSeleccionado.firstName}}</div>
	<div>Flujo de Personas de la Aerolinea: {{aerolineaSeleccionado.lastName}}</div>
</div>
<div class="row form-inline">
	<div class="col-xs-offset-9 col-xs-1"><a><button type="button" class="btn btn-default" data-toggle="modal" ng-click="open('app/pages/AGAPORT_gestion/Aerolineas/popupEliminarAerolinea.html','md')">Eliminar</button></a></div>
	<div class="col-xs-1"><a ui-sref="agaport_gestion.aerolineas.modificar({aerolineaSeleccionada:aerolineaSeleccionada})"><button type="button" class="btn btn-default">Modificar</button></a></div>
	<div class="col-xs-1"><a ui-sref="agaport_gestion.aerolineas.nuevo"><button type="button" class="btn btn-default">Nuevo</button></a></div>
</div>

</ui-view>

