<div class="col-sm-offset-3 col-sm-6">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="nombreModificarAerolinea" class="col-sm-4">Nombre de Aerolínea: </label>
            <div class="col-sm-8">
                <input ng-init="nombAerolineanuevo=aerolineaSeleccionadoModificar.nombreaerolinea" ng-model="nombAerolineanuevo" type="text" class="form-control" id="distanciaModificarAerolinea" placeholder="Nombre Aerolínea">
            </div>
        </div>
        <div class="form-group">
			<label for="prioridadNuevoAerolinea" class="col-sm-4">Prioridad: </label>
			<div class="col-sm-8">
				<ui-select ng-model="prioridadSelected.selected"
				class="btn-group bootstrap-select form-control"
				ng-disabled="false"
				append-to-body="true"
				search-enabled="false">
					<ui-select-match placeholder="Prioridad">
						<span> {{$select.selected.descripcion}}</span>
					</ui-select-match>
					<ui-select-choices repeat="prioridad in prioridadSelect">
						<span ng-bind-html="prioridad.descripcion"></span> <!-- not sure -->
					</ui-select-choices>
				</ui-select>
			</div>
		</div>

        <div class="row">
            <div class="col-xs-offset-4 col-xs-2"><a ng-click="modificarAerolinea(aerolineaSeleccionadoModificar.idAerolinea, nombAerolineanuevo, prioridadSelected.selected.idPrioridad)"><button type="button" class="btn btn-default">Aceptar</button></a></div>
            <div class="col-xs-2"><a ui-sref="agaport_gestion.aerolineas"><button type="button" class="btn btn-default">Cancelar</button></a></div>
        </div>
    </form>
            
</div>