<ui-view autoscroll="true" autoscroll-body-top>

<div class="row" style="margin-bottom:20px">
	<div class="col-xs-12">
		<div class="form-group">
			<label for="busquedaPuerta" class="col-sm-4" style="margin-top:10px">Buscar puerta: </label>
			<div class="col-sm-8">
					<input ng-model="busquedaPuerta.$" type="text" class="form-control" id="busquedaPuerta" placeholder="Inserte información de la Puerta">
			</div>
		</div>
	</div>
</div>

<div ba-panel ba-panel-title="Lista de Puertas, Mangas y Zonas" ba-panel-class="with-scroll table-panel">
	<div class="row">
		<div class="col-md-12">
			<div class="vertical-scroll">
			  <table class="table table-hover">
			    <thead>
			    <tr class="black-muted-bg">
			      <th class="table-id">#</th>
			      <th>Tipo</th>
			      <th>Distancia a salida (m)</th>
                  <th>Flujo de Personas</th>
                  <th>Estado</th>
			    </tr>
			    </thead>
			    <tbody id="cuerpoTablaPuertas">
			    <tr ng-repeat="item in datosPuertas | filter:busquedaPuerta" ng-click="seleccionarPuerta(item);">
			      <td class="table-id">{{$index + 1}}</td>
			      <td>{{item.tipo==1? 'Manga':'Zona'}}</td>
			      <td>{{item.distanciaASalida}}</td>
			      <td>{{item.flujoPersonas}}</td>
				  	<td>{{item.estado==1? 'Habilitado':'Deshabilitado'}}</td>
			    </tr>
			    </tbody>
			  </table>
			   <div ng-show="datosPuertas.length==0">
					No hay Puertas ni Mangas 				
			  </div>
			</div>
		</div>
	</div>
</div>
<div>
	<div>Tipo de la puerta seleccionada: {{puertaseleccionada.tipo}}</div>
	<div>Estado de la puerta seleccionada: {{puertaseleccionada.estado==1?'Disponible':'Ocupado'}}</div>
	<div>Cantidad de personas que salen por la Puerta {{puertaseleccionada.flujoPersonas}}</div>
</div>
<div class="row form-inline">
	<div class="col-xs-offset-9 col-xs-1"><a><button type="button" class="btn btn-default" data-toggle="modal" ng-click="open('app/pages/AGAPORT_gestion/Puertas_mangas_zonas/popupEliminarPuertaMangaZona.html','md')">Eliminar</button></a></div>
	<div class="col-xs-1"><a ui-sref="agaport_gestion.puertas_mangas_zonas.modificar({idPuerta:puertaseleccionada.idPuerta,tipo:puertaseleccionada.tipo,distancia:puertaseleccionada.distanciaASalida,flujoPersonas:puertaseleccionada.flujoPersonas,estado:puertaseleccionada.estado})"><button type="button" class="btn btn-default">Modificar</button></a></div>
	<div class="col-xs-1"><a ui-sref="agaport_gestion.puertas_mangas_zonas.nuevo"><button type="button" class="btn btn-default">Nuevo</button></a></div>
</div>

</ui-view>