<div class="col-sm-offset-3 col-sm-6">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="tipoModificarPuerta" class="col-sm-4">Tipo: </label>
            <div class="col-sm-8">
                <ui-select ng-model="selectedItem.selected"
                class="btn-group bootstrap-select form-control"
                ng-disabled="false"
                append-to-body="true"
                search-enabled="false">
                    <ui-select-match placeholder="Tipo de puerta">
                        <span> {{$select.selected.label}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="standardItem in standardSelectItems | filter: $select.search">
                        <span ng-bind-html="standardItem.label"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label for="distanciaModificarPuerta" class="col-sm-4">Distancia: </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="distanciaModificarPuerta" placeholder="Distancia a la puerta">
            </div>
        </div>
        <div class="form-group">
            <label for="flujoModificarPuerta" class="col-sm-4">Flujo de personas: </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="flujoModificarPuerta" placeholder="Cantidad de personas">
            </div>
        </div>
        <div class="form-group">
            <label for="estadoModificarPuerta" class="col-sm-4">Estado: </label>
            <div class="col-sm-8">
                <ui-select ng-model="selectedItem.selected"
                class="btn-group bootstrap-select form-control"
                ng-disabled="false"
                append-to-body="true"
                search-enabled="false">
                    <ui-select-match placeholder="Estado de la puerta">
                        <span> {{$select.selected.label}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="standardItem in standardSelectItems | filter: $select.search">
                        <span ng-bind-html="standardItem.label"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            </div>

        <div class="row">
            <div class="col-xs-offset-4 col-xs-2"><a ui-sref="agaport_gestion.puertas_mangas_zonas"><button type="button" class="btn btn-default">Aceptar</button></a></div>
            <div class="col-xs-2"><a ui-sref="agaport_gestion.puertas_mangas_zonas"><button type="button" class="btn btn-default">Cancelar</button></a></div>
        </div>
    </form>
    
</div>        